{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}The Balanced Hammer{% endblock %}
	</title>
	<link rel="stylesheet" href="{% static 'css/style.css' %}" />
	{% block header %}{% endblock %}
</head>
<body>
	<header>
		<h1>The Balanced Hammer</h1>
		<nav>
			<ul>
				<li><a href="{% url 'home' %}">Home</a></li>
				<li><a href="{% url 'products:product_list_view' %}">All Products</a></li>
				<li><a href="{% url 'products:orders_list_view' %}">Browse Orders</a></li>
				<li><a href="{% url 'about' %}">About</a></li>
				<li><a href="{% url 'contact' %}">Contact</a></li>
			</ul>
		</nav>
	</header>	
	{% block content %}{% endblock %}
	{% block footer %}{% endblock %}
</body>
</html>