{% extends 'products/base.html' %}
{% block title %} Monthly Sales - {{ block.super }}{% endblock %}
{% block content %}
	<h1>Current Month</h1>
		
	{% if orders_list %}
		<ul>
		{% for order in orders_list %}
			<li>Order Number: {{ order }}</a>
			Order Date: {{ order.order_date }} 
			Order Total: ${{ order.order_total|floatformat:2 }}
			Festival: {{ order.order_festival }}
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No orders available.</p>
	{% endif %}
	Total Orders: {{ orders_list|length }} Total Sales ${{ orders_total|floatformat:2 }}
{% endblock %}						