{% extends 'products/base.html' %}
{% block title %} Monthly Sales - {{ block.super }}{% endblock %}
{% block content %}
	<h1>Monthly Sales Report</h1>
	<!-- Report Options -->
	<nav>
		<ul>
			<li><a href="{% url 'products:monthly_sales' %}">Current Month</a></li>
			<li><a href="{% url 'products:monthly_sales_by_month' month='previous' %}">Last Month</a></li>
			<li><a href="{% url 'products:monthly_sales_by_month' month='three' %}">Last Three Months</a></li>
			<li>Show sales from <input type="date"/> to <input type="date" /> </li>
		</ul>	
	</nav>	
		
	{% if orders_list %}
		<table>
			<tr>
				<th>Order Number</th>
				<th>Order Date</th>
				<th>Order Total</th>
				<th>Festival</th>
			</tr>
			{% for order in orders_list %}
			<tr>
				<td>{{ order }}</td>
				<td>{{ order.order_date }}</td>
				<td>${{ order.order_total|floatformat:2 }}</td>
				<td>{{order.order_festival }}</td>
			</tr>
			{% endfor %}
		</table>					
	{% else %}
		<p>No orders available.</p>
	{% endif %}
	Total Orders: {{ orders_list|length }} Total Sales ${{ total_sales.order_total__sum|floatformat:2 }}
{% endblock %}						