{% extends 'products/base.html' %}
{% block title %} Monthly Sales - {{ block.super }}{% endblock %}
{% block content %}
	<h1>Monthly Sales Report</h1>
	<!-- Report Options -->
	<nav>
		<ul>
			<li><a href="{% url 'products:monthly_sales' %}">Current Month</a></li>
			<li><a href="{% url 'products:monthly_sales_by_month' month='previous' %}">Last Month</a></li>
			<li><a href="{% url 'products:monthly_sales_by_month' month='three' %}">Last Three Months</a></li>
		</ul>	
	</nav>	
		
	{% if orders_list %}
		<ul>
		{% for order in orders_list %}
			<li>Order Number: {{ order }}</a>
			Order Date: {{ order.order_date }} 
			Order Total: ${{ order.order_total|floatformat:2 }}
			Festival: {{ order.order_festival }}
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No orders available.</p>
	{% endif %}
	Total Orders: {{ orders_list|length }} Total Sales ${{ total_sales.order_total__sum|floatformat:2 }}
{% endblock %}						