{% extends 'products/base.html' %}
{% block title %}Festival Sales - {{ block.super }}{% endblock %}
{% block content %}
	<h1>Browse Orders</h1>
	<!-- display the festival locations as links -->
	<nav>
		{% for festival in festival_list %}
			<li><a href="{% url 'products:orders_by_festival_list_view' festival=festival.id %}">
				{{ festival }} 
			</a></li>
		{% endfor %}	
	</nav>	
	{% if orders_list %}
			<table>
			<tr>
				<th>Order Number</th>
				<th>Order Date</th>
				<th>Order Total</th>
				<th>Festival</th>
			</tr>
			{% for order in orders_list %}
			<tr>
				<td>{{ order }}</td>
				<td>{{ order.order_date }}</td>
				<td>${{ order.order_total|floatformat:2 }}</td>
				<td>{{order.order_festival }}</td>
			</tr>
			{% endfor %}
		</table>					

	{% else %}
		<p>No products available.</p>
	{% endif %}
{% endblock %}						