{% extends 'products/base.html' %}
{% block title %}All Products - {{ block.super }}{% endblock %}
{% block content %}
	<h1>All Products</h1>
	{% if product_list %}
		<ul>
		{% for product in product_list %}
			<li><a href="{% url 'products:product_detail_view' product.id %}">{{ product }}</a>
			Size: {{ product.product_size }} 
			Category: {% for category in product.product_category.all %}{{ category }}{% endfor %}
			Inventory: {{product.product_quantity }}

			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No products available.</p>
	{% endif %}
{% endblock %}						